Repository JCSDA-internal/ufo-data, pull requests merged in 2023-08, with the labels that each got.

#343 Update files that contain sensorScanPosition from float to int
  testinput_tier_1/abi_g16_obs_2019042306_m.nc4
  testinput_tier_1/ahi_himawari8_obs_2019042306_m.nc4
  testinput_tier_1/airs_aqua_obs_2018041500_m_unittest.nc4
  testinput_tier_1/amsr2_gcom-w1_obs_2020120100_m.nc4
  testinput_tier_1/amsua_n19_obs_2018041500_m.nc4
  testinput_tier_1/amsua_n19_obs_2018041500_m_miss_val.nc4
  testinput_tier_1/amsua_n19_obs_2018041500_m_qc.nc4
  testinput_tier_1/atms_npp_obs_2018041500_m_qc.nc4
  testinput_tier_1/cris-fsr_npp_obs_2018041500_m_unittest.nc4
  testinput_tier_1/geos.mhs_metop-b_obs.2020121500_m.nc4
  testinput_tier_1/geos_amsua_n19_obs_2020121500.nc4
  testinput_tier_1/geos_atms_n20_obs_2020121500.nc4
  testinput_tier_1/gmi_gpm_obs_2020120100_m.nc4
  testinput_tier_1/gmi_gpm_obs_2020121500_m.nc4
  testinput_tier_1/hirs4_metop-a_obs_2018041500_m.nc4
  testinput_tier_1/iasi_metop-a_obs_2018041500_m_unittest.nc4
  testinput_tier_1/instruments/radiance/airs_aqua_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/amsua_aqua_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/amsua_metop-a_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/amsua_metop-b_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/amsua_metop-c_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/amsua_n15_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/amsua_n18_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/amsua_n19_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/atms_n20_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/atms_npp_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/avhrr_metop-a_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/avhrr_n18_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/cris-fsr_n20_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/cris-fsr_npp_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/iasi_metop-a_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/iasi_metop-b_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/mhs_metop-b_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/mhs_metop-c_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/mhs_n19_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/seviri_m11_obs_2020110112_m.nc4
  testinput_tier_1/instruments/radiance/ssmis_f17_obs_2020110112_m.nc4
  testinput_tier_1/mhs_n19_obs_2018041500_m.nc4
  testinput_tier_1/seviri_m08_obs_2018041500_m.nc4
  testinput_tier_1/smap_obs_2018041500_m.nc4
  testinput_tier_1/sndrd1_g15_obs_2018041500_m.nc4
  testinput_tier_1/sndrd2_g15_obs_2018041500_m.nc4
  testinput_tier_1/sndrd3_g15_obs_2018041500_m.nc4
  testinput_tier_1/sndrd4_g15_obs_2018041500_m.nc4
Labels: coordinate merge, OBS

#349 Bugfix/sensor scan position integer
  testinput_tier_1/amsr2_gcom-w1_obs_2020111500.nc4
  testinput_tier_1/cris-fsr_n20_obs_2020121500_m.nc4
  testinput_tier_1/gmi_gpm_obs_2020111500.nc4
  testinput_tier_1/instruments/radiance/abi_g16_obs_2021051700_m.nc4
Labels: OBS, INGEST

#352 [Bugfix] update sensorScanPosition from float to int (again)
  testinput_tier_1/abi_g16_obs_2018041500_m_qc.nc4
  testinput_tier_1/ahi_himawari8_obs_2019042306_s.nc4
  testinput_tier_1/airs_aqua_obs_2018041500_m.nc4
  testinput_tier_1/amsua_n19_hofxnm_2018041500_m_rttovcpp.nc4
  testinput_tier_1/amsua_n19_obs_2018041500_m_with_diag_flags.nc4
  testinput_tier_1/bias_interpolation_brightness_temperature.nc4
  testinput_tier_1/cris-fsr_npp_obs_2018041500_m.nc4
  testinput_tier_1/cris-fsr_npp_obs_2018041500_m_qc.nc4
  testinput_tier_1/gmi_gpm_obs_2018041500_m.nc4
  testinput_tier_1/gome_metop-a_obs_2019101700_m.nc4
  testinput_tier_1/iasi_metop-a_obs_2018041500_m.nc4
  testinput_tier_1/iasi_metop-a_obs_2018041500_m_qc.nc4
  testinput_tier_1/iasi_metop-b_202011012_missingVals.nc4
  testinput_tier_1/mhs_metop-b_obs_2018041500_m_interpolate_date_from_file_predictors.nc4
  testinput_tier_1/mhs_n19_obs_2018041500_m_qc.nc4
  testinput_tier_1/omi_aura_obs_2019101700_m.nc4
  testinput_tier_1/ompsnp_npp_obs_2019101700_m.nc4
  testinput_tier_1/ompsnp_npp_obs_2019101700_m_colret.nc4
  testinput_tier_1/ompsnp_npp_obs_2020051712_m.nc4
  testinput_tier_1/ompsnp_npp_obs_2020051712_qc.nc4
  testinput_tier_1/ompstc8_npp_obs_2019101700_m.nc4
  testinput_tier_1/sbuv2_n19_obs_2018041500_m.nc4
  testinput_tier_1/sbuv2_n19_obs_2020051712_m.nc4
  testinput_tier_1/ssmis_f18_obs_2018041500_m.nc4
Labels: OBS

#356 Bugfix/rapid fix one file again
  testinput_tier_1/bias_interpolation_brightness_temperature.nc4
  testinput_tier_1/mhs_metop-b_obs_2018041500_m_interpolate_date_from_file_predictors.nc4
Labels: OBS

#351 Add pressure error file with no missing value entry
  CMakeLists.txt
  testinput_tier_1/satwind_pressure_errors_nomissing.nc4
Labels: ready for merge

#360 Add MetaData/surfaceQualifier
  testinput_tier_1/scatwind_obs_1d_2020100106.nc4
Labels: OBS

#363 Reduce MetO scatwind file sizes
  testinput_tier_1/scatwind_geoval_20201001T0600Z.nc4
  testinput_tier_1/scatwind_obs_1d_2020100106.nc4
  testinput_tier_1/scatwind_obs_2d_2020100106.nc4
Labels: OBS
