Repository JCSDA-internal/ufo-data, pull requests merged in 2024-05, with the labels that each got.

#409 Test data for radar scan edge flagging ObsFunction
  testinput_tier_1/radar_edge_flag.nc
Labels: waiting for another PR, OBS, UKMO

#384 Adding files for ufo lightning
  testinput_tier_1/geoval_goes16_glm_201905202300.nc
  testinput_tier_1/obs.goes16_glm.201905202300.nc
Labels: coordinate merge, OBS

#422 change permission so it's not executable
  testinput_tier_1/sondes_fake_20201101.nc4
Labels: bug, OBS

#410 Test data for record number ObsFunction
  testinput_tier_1/write_recnum_obsspace.nc
Labels: waiting for another PR, OBS, UKMO

#425 fix Channel value in satbis reference file
  testinput_tier_1/satbias_amsua_n19_test1.nc4
  testinput_tier_1/satbias_amsua_n19_test2.nc4
  testinput_tier_1/satbias_amsua_n19_test3.nc4
  testinput_tier_1/satbias_amsua_n19_test4.nc4
  testinput_tier_1/satbias_amsua_n19_test5.nc4
  testinput_tier_1/satbias_amsua_n19_test6.nc4
Labels: bug, OBS

#424 Updated reference values after some code changes to operator
  testinput_tier_1/obs_radar_mrms_202205122200.nc
Labels: OBS, do not merge
